//- jQuery, Bootstrap, and Wow
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

//- Custom JS file
script(src='public/js/scripts.js')